*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Alexandria', sans-serif;
  background-color: #f7f7f7;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header section */
.header {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d');
  background-size: cover;
  background-position: center;
  height: 110vh;
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 160px;
  background-color: #f7f7f7;
  border-radius: 50% 50% 0 0;
  z-index: 1;
}
@media (max-width: 991px) {
  .header {
    overflow: visible;
  }
  .header::after {
    display: none;
  }
}
.header .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width: 991px) {
  .header {
    height: 60vh;
  }
  .header .overlay {
    height: 60vh;
  }
} 
.header .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header .logo-img {
  max-width: 100px;
  height: auto;
}
@media (max-width: 992px) {
  .header .logo-wrapper {
    justify-content: flex-end;
    padding-left: 1rem;
  }
} 
.header .header-text{
  margin-top: -140px;
}
.header .header-form{
  margin-bottom: -60px;
}
@media (max-width: 991px) {
  .header .header-text{
    margin-top: 220px;
    margin-bottom: -200px;
  }
} 
@media (max-width: 767px) {
  .header .header-text{
    margin-top: 140px;
    margin-bottom: -200px;
  }
} 
.header .certificated-section{
  margin-top: -235px;
}
.header .move-up {
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header .chance-title{
  font-weight: 300;
  font-size: 18px;
  color: #F5F5F5;
}

@media (max-width: 991px) {
  .header .certificated-section {
    margin-top: -150px;
  }
}

@media (max-width: 767px) {
  .header .certificated-section{
    margin-top: -110px;
  }
  .header .move-up {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .header .move-up {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .header .chance-title {
    font-size: 14px;
  }
}

.header .custom-badge-wrapper {
  position: relative;
  width: 629px;
  height: 451px;
  max-width: 100%;
  margin-top: 120px;
  z-index: 1;
}
.header .badge-bg-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: 8px 2px 10px 0px rgba(255, 255, 255, 0.25);
}
.badge-text {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.badge-text .underline {
  width: 150px;
  height: 2px;
  background-color: #BFBFBF;
  margin: 10px auto 0 auto;
}
@media (max-width: 991px) {
  .badge-text .underline {
    width: 80px;
    height: 1px;
  }
}
.header .badge-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;    
}
.header .badge-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 16px;
}
@media (max-width: 991px) {
  .header .custom-badge-wrapper {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 230px;
    aspect-ratio: 3 / 2;
  }
  .header .badge-title {
    font-size: 24px;
    line-height: 23.83px;
  }

  .header .badge-subtitle {
    font-size: 18px;
    line-height: 10px;
    letter-spacing: 6.23px;
  }
}
@media (max-width: 768px) {
  .header .custom-badge-wrapper {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .header .custom-badge-wrapper {
    width: 80%;
  }
}
.header .stats-container {
  gap: 2rem;
  padding-top: 1rem;
}
.header .stat-number-wrapper {
  background: rgba(255, 255, 255, 0.15);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
.header .stat-number {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.header .stat-label {
  color: white;
  font-size: 16px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .header .stat-number-wrapper {
    width: 50px;
    height: 50px;
  }
  .header .stat-number {
    font-size: 12px;
  }
  .header .stat-label {
    font-size: 12px;
  }
}

 /* form */
 .header .custom-form-card {
  background-color: white;
  border: none;
  padding: 6rem 4rem;
  max-width: 520px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .form-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.header .form-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: #595959;
  margin-bottom: 1rem;
}
.header .input-label {
  font-size: 16px;
  font-weight: 400;
}
.custom-input {
  border-radius: 6px;
  border: 0.85px solid #D0D5DD;
  background-color: #FFFFFF;
  box-shadow: 0px 0.85px 1.7px 0px #1018280D;
  font-weight: 400;
  font-family: 'Inter';
  font-size: 13.72px;
  line-height: 22.86px;
  letter-spacing: 0;
  text-align: right;
  color: #667085;
  padding: 8px 12px;
  outline: none;
}
.custom-input:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.15rem rgba(108, 117, 125, 0.25);
}

.custom-phone-wrapper {
  display: flex;
  flex-direction: row-reverse;
  border: 0.85px solid #D0D5DD;
  border-radius: 6px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0px 0.85px 1.7px 0px #1018280D;
  height: 42px;
}

.country-code-select {
  width: 90px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0 8px;
  font-size: 13.72px;
  text-align: center;
  color: #667085;
  font-family: 'Inter', sans-serif;
  appearance: none;
  direction: rtl;
  border-right: 0.85px solid #D0D5DD;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.phone-number-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 13.72px;
  line-height: 22.86px;
  color: #667085;
  font-family: 'Inter', sans-serif;
  text-align: right;
  background-color: #fff;
}

.country-code-select:focus,
.phone-number-input:focus {
  outline: none;
  box-shadow: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .custom-form-card {
    padding: 4rem;
  }
}
@media (max-width: 991px) {
  .header .custom-form-card {
    padding: 4rem;
    margin-top: 210px;
  }
}
@media (max-width: 768px) {
  .header .custom-form-card {
    padding: 2rem;
  }
  .header .form-title {
    font-size: 16px;
    text-align: center;
  }
  .header .form-description {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .header .input-label {
    font-size: 12px;
  }
}
.header .register-hero-btn {
  background-color: #029843;
  border: 1px solid #029843;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px 18px;
  height: 50px;
  width: 360px;
  margin: 0 auto;
  border-radius: 6px;
  filter: drop-shadow(0px 1px 4px rgba(25, 33, 61, 0.08));
  transition: background-color 0.3s ease, border-color 0.3s ease;
  white-space: nowrap;
}
@media (max-width: 991px) {
  .header .register-hero-btn {
    width: 260px;
    height: 40px;
  }
}
 /* accreditation section */
 .accreditation-section {
  background-color: #0043A4;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 500px;
}
.accreditation-section::before {
  content: "";
  position: absolute;
  width: 328vw;
  height: 295vw;
  top: -65vw;
  left: 50%;
  border-radius: 44%;
  background: #f7f7f7;
  transform: translate(-50%, -75%) rotate(360deg);
  z-index: 0;
}
.accreditation-section::after {
  content: "";
  position: absolute;
  width: 328vw;
  height: 295vw;
  bottom: -65vw;
  left: 50%;
  border-radius: 44%;
  background: #f7f7f7;
  transform: translate(-50%, 75%) rotate(360deg);
  z-index: 0;
}
.accreditation-section .container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 600px;
}

@media (max-width: 991px) {
  .accreditation-section {
      margin-top: 580px;
  }
}
@media (max-width: 767px) {
  .accreditation-section {
      margin-top: 500px;
  }
}
.accreditation-section .accreditation-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.accreditation-heading {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.3;
  color: #FCFCFC;
}

.accreditation-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: #F0F0F0;
}
.accreditation-section .booking-btn {
  background-color: #02B34F;
  border: 1px solid #02B34F;
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 18px;
  height: 40px;
  min-width: 153px;
  border-radius: 6px;
  filter: drop-shadow(0px 1px 4px rgba(25, 33, 61, 0.08));
  transition: background-color 0.3s ease, border-color 0.3s ease;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .accreditation-heading {
    font-size: 24px;
  }

  .accreditation-text {
    font-size: 16px;
  }
}  

@media (min-width: 768px) and (max-width: 991px) {
  .accreditation-section .booking-btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .accreditation-section .booking-btn {
    display: none !important;
  }
}

  /* custom-program section */
  .custom-program-section {
    color: #003087;
  }
  .custom-program-section .section-title {
    font-size: 24px;
    font-weight: 700;
  }
  .card-hover {
    transition: all 0.4s ease;
    cursor: pointer;
  }
  
  .card-hover:hover .icon-circle {
    transform: scale(1.2);
    background-color: #091E43;
  }
  
  .card-hover:hover img {
    transform: translateY(-16px);
  }
  
  .card-hover:hover p {
    transform: translateY(-6px);
  }
  
  .icon-circle {
    background-color: #003087;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease;
  }
  
  .icon-circle img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.4s ease;
  }
  .card-hover p {
    transition: transform 0.4s ease, color 0.4s ease;
    font-weight: 500;
    font-size: 15px;
  }
  /* mba-section */
  .mba-section {
    background-color: #E8ECF4;
    position: relative;
    overflow: hidden;
  }
  .mba-section .left-shape {
    position: absolute;
    top: 0;
    left: 0;
    height: 75%;
    width: 6%;
    z-index: 0;
  }
  @media (max-width: 768px) {
    .mba-section .left-shape {
      height: 25%;
      width: 7%;
    }
  }
  .mba-section .content {
    padding: 40px 0px;
  }
  .mba-section::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #f7f7f7;
    border-bottom-left-radius: 100% 40px;
    border-bottom-right-radius: 100% 40px;
    z-index: 1;
  }
  .mba-section::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #f7f7f7;
    border-top-left-radius: 100% 40px;
    border-top-right-radius: 100% 40px;
    z-index: 1;
  }
  .mba-section .section-title {
    font-weight: 400;
    font-size: 44px;
  }
  @media (max-width: 768px) {
    .mba-section .section-title {
      font-size: 24px;
    }
  }
  @media (max-width: 992px) {
    .mba-section .section-title {
      font-size: 30px;
    }
  }
  .mba-section .section-text {
    font-weight: 400;
    font-size: 18px;
    color: #454545;
  }
  .mba-section .register-btn {
    background-color: #02B34F;
    border: 1px solid #02B34F;
    color: white;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px 18px;
    height: 40px;
    width: 360px;
    border-radius: 6px;
    filter: drop-shadow(0px 1px 4px rgba(25, 33, 61, 0.08));
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .mba-section .register-btn {
      width: 340px;
      margin: 0 auto;
    }
  }
  @media (max-width: 768px) {
    .mba-section .section-text {
      font-size: 16px;
    }
  }
  @media (min-width: 1200px) {
    .mba-section .list-section {
      margin-top: -170px;
    }
  }
  .mba-section .list li {
    font-weight: 400;
    font-size: 14px;
    color: #454545;
    line-height: 34px;
  }
  @media (max-width: 768px) {
    .mba-section .list li {
      font-size: 16px;
    }
  }
  .image-grid-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: 100%;
  }
  .left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .left-column .image-box,
  .right-column .image-box {
    flex: 1;
  }
  .image-box {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: 100%;
    min-height: 218px;
    position: relative;
    /* overflow: hidden; */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    transition: transform 0.4s ease;
  }
  
  .image-box:hover {
    transform: scale(1.05);
  }
  
  .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }
  
  .overlay-content h5 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .overlay-content p {
    margin-top: 0;
    font-size: 12px;
    opacity: 0;
    max-height: 0;
    /* overflow: hidden; */
    /* transition: opacity 0.3s ease, max-height 0.3s ease; */
  }
  
  .image-box:hover .overlay-content {
    /* justify-content: flex-start; */
    padding-top: 30px;
  }
  .image-box:hover .overlay-content h5 {
    font-size: 16px;
  }
  .image-box:hover .overlay-content p {
    opacity: 1;
    max-height: 200px;
    margin-top: 12px;
  }
  
  @media (max-width: 767px) {
    .image-grid-custom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .left-column,
    .right-column {
      width: 95%;
    }
    .image-box {
      width: 95%;
    }
  }

/* why us Section */
.why-us-section .curve-top {
  position: absolute;
  top: 2709px;
  left: 0;
  width: 100%;
  z-index: 0;
}

.why-us-section .curve-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.why-us-section {
  position: relative;
  background-color: #003366;
  overflow: hidden;
  color: #f7f7f7;
}

/* الكيرف العلوي */
.why-us-section::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 160px;
  background-color: #ffffff; /* لون الخلفية */
  border-radius: 0 0 50% 50%;
  z-index: 1;
}

/* الكيرف السفلي */
.why-us-section::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 160px;
  background-color: #ffffff;
  border-radius: 50% 50% 0 0;
  z-index: 1;
}

/* المحتوى فوق */
.why-us-section .content {
  position: relative;
  z-index: 2;
  padding: 60px 0px;
}


.why-us-section .custom-card {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  transition: transform 0.4s ease;
}
.why-us-section .custom-card:hover .icon-img {
  transform: translateY(-16px);
  transition: transform 0.4s ease;
}

.why-us-section .custom-card:hover .card-content h5,
.why-us-section .custom-card:hover .card-content p {
  transform: translateY(-16px);
  transition: transform 0.4s ease;
}
.why-us-section .custom-card .icon-img {
  transition: transform 0.4s ease;
}
.why-us-section .card-content h5,
.why-us-section .card-content p {
  transition: transform 0.4s ease;
}

.why-us-section .sub-title {
  color: #E8ECF4;
  font-size: 34px;
  font-weight: 500;
}
.why-us-section .sub-title span{
  color: #029843;
}

.why-us-section .main-title {
  font-size: 18px;
  font-weight: 400;
  color: #FCFCFC;
}
@media (max-width: 767px) {
  .why-us-section .sub-title {
    font-size: 24px;
  }
  .why-us-section .main-title {
    font-size: 16px;
  }
}
.why-us-section .main-title span {
  color: #029843;
}
.why-us-section .icon-wrapper {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-us-section .icon-circle-green {
  width: 130px;
  height: 60px;
  margin-top: 16px;
  background-color: #038A3F;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.why-us-section .icon-img {
  width: 86px;
  height: 86px;
  margin-top: -40px;
}

.why-us-section .card-content {
  padding-top: 60px;
  background-color: white;
  color: #18181B;
  border-radius: 16px;
  min-height: 150px;
  margin-top: 20px;
}
.why-us-section .card-content h5{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 60px;
}
.why-us-section .card-content p{
  font-weight: 400;
  font-size: 12px;
}
  
/* testimonials Section */
  .testimonials-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  .testimonials-section .sub-title {
    color: #52525B;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .testimonials-section .main-title {
    font-size: 42px;
    font-weight: 700;
    color: #12397E;
    margin-bottom: 40px;
    text-align: center;
  }
  @media (max-width: 767px) {
  .testimonials-section .main-title {
    font-size: 24px;
  }
  }
  .testimonials-section .main-title span {
    color: #029843;
  }
  
  .testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .testimonial-box {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 360px;
    flex: 1;
    text-align: right;
  }
  .testimonial-box:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  }
  
  .testimonial-box .quote,
  .testimonial-box .author {
    transition: transform 0.4s ease;
  }
  
  .testimonial-box:hover .quote {
    transform: translateY(-14px);
  }
  
  .testimonial-box:hover .author {
    transform: translateY(-14px);
  }
  .testimonial-box .stars {
    color: #f4b400;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .testimonial-box .quote {
    color: #18181B;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Plus Jakarta Sans';
    margin-bottom: 20px;
    line-height: 1.7;
    letter-spacing: 0.4px;
  }
  
  .testimonial-box .author {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .testimonial-box .author img {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #eee;
  }
  
  .testimonial-box .author h4 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans';
    color: #18181B;
  }
  
  .testimonial-box .author p {
    margin: 0;
    color: #52525B;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Plus Jakarta Sans';
  }
  
  @media (max-width: 768px) {
    .testimonials {
      flex-direction: column;
      align-items: center;
    }
  
    .testimonial-box {
      max-width: 100%;
    }
  }
  
/* Payment Section */
.payment-section {
  position: relative;
  background-color: #029843;
  color: white;
  overflow: hidden;
}
.payment-section::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #f7f7f7;
  border-bottom-left-radius: 100% 40px;
  border-bottom-right-radius: 100% 40px;
  z-index: 1;
}
.payment-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 0px;

}
.payment-text {
  max-width: 457px;
}
.payment-text h2 {
  font-size: 34px;
  font-weight: 500;
  color: #FCFCFC;
  margin-bottom: 15px;
}

.payment-text p {
  font-size: 18px;
  font-weight: 400;
  color: #F0F0F0;
  margin-bottom: 20px;
  line-height: 1.7;
}

.payment-text .payment-btn {
  /* display: inline-block;
  background-color: #002f6c;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0px 1px 4px 0px #19213D14; */
  background-color: #002f6c;
  border: 1px solid #002f6c;
  color: white;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 18px;
  height: 40px;
  width: 155px;
  border-radius: 6px;
  filter: drop-shadow(0px 1px 4px rgba(25, 33, 61, 0.08));
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.payment-text .btn:hover {
  background-color: #001f4c;
}
.payment-card {
  position: relative;
  transition: transform 0.3s ease, z-index 0.3s;
  z-index: 1;
}

.payment-card:hover {
  transform: translateY(-16px) rotate(-2deg);
  z-index: 10;
}

.payment-card img {
  width: 135px;
  height: 172px;
  border-radius: 20.7px;
  border: 6.9px solid #ffffff;
  padding: 10px;
  background: white;
  object-fit: contain;
  box-shadow:
    0px 1.73px 3.45px 0px #6C718014,
    0px 6.04px 6.04px 0px #6C718012,
    0px 14.66px 8.63px 0px #6C71800A,
    0px 25.01px 10.35px 0px #6C718003;
}

.badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background: #E6F7ED;
  border: 1px solid #FFFFFF;
  border-radius: 96px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #029843;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  white-space: wrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.9s ease;
  line-height: 18px;
}

.payment-card.has-badge:hover .badge {
  top: -26px;
  left: -16px;
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}
.payment-icons {
  display: flex;
  gap: 0x;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .payment-icons {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 767px) {
  .payment-icons {
    grid-template-columns: repeat(2, auto);
  }
}

/* .payment-icons img {
  width: 135px;
  height: 172px;
  border-radius: 20.7px;
  border: 6.9px solid #ffffff;
  padding: 10px;
  background: white;
  object-fit: contain;
  box-shadow:
    0px 1.73px 3.45px 0px #6C718014,
    0px 6.04px 6.04px 0px #6C718012,
    0px 14.66px 8.63px 0px #6C71800A,
    0px 25.01px 10.35px 0px #6C718003;
} */
.payment-icons img:nth-child(1) {
  transform: rotate(10deg);
  margin-left: -10px;
}

.payment-icons img:nth-child(2) {
  transform: rotate(5deg);
  margin-left: -10px;
}

.payment-icons img:nth-child(3) {
  transform: rotate(-3deg);
  margin-left: -15px;
  margin-right: -15px;
}

.payment-icons img:nth-child(4) {
  transform: rotate(-3deg);
  margin-left: -15px;
}
@media (max-width: 767px) {
  .payment-icons img:nth-child(2) {
    margin-bottom: 30px;
  }
}

/* Academy Section */
.academy-section {
  background-color: #12397E;
  color: white;
}
.academy-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.academy-content p {
  max-width: 400px;
  font-size: 15px;
  line-height: 1.8;
}
@media (min-width: 992px) {
.academy-content p {
  min-width: 695px;
}
}
.academy-content img {
  width: 120px;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
}
@media (max-width: 767px) {
  .academy-content img {
    width: 85px;
  }
}
@media (max-width: 992px) {
  .academy-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .academy-content img {
    width: 100px;
    margin-bottom: 20px;
  }

  .academy-content p {
    max-width: 100%;
  }
}